/* Logo Butttons */

.logo-key{
    padding: 4px 10px;
    background-color: var(--btn-bg);

    border: var(--btn-border);
    border-radius: var(--border-radius);
}

/* Logo Key Text */
.logo-key-text{
    font-size: var(--fs-btn-logo);
    font-weight: 800;
}

/* Logo Container */

.logo{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 0.5em;

    padding: clamp(0.5em, .5rem + .5vw , 16px);
    background-color: var(--bg-secondary);
   
    border: var(--border-width) solid var(--border-color);
    border-radius: var(--border-radius);

    position: absolute;
    top: 1rem;
    left: 1rem;
}



/* Media  Queries */
@media(min-width:455px){
    .logo{
        grid-template-columns: repeat(2, 1fr);
    }
    
}

