/* Box Container main UI */
.box-container {
    width: 100%;
    max-width: 20rem;

    margin: .5rem;

    border: var(--border-width) solid var(--border-color);
    background-color: var(--bg-secondary);
}

/* Expression Display */
.expression-display {
    min-height: 12vh;
    text-align: right;
    background-color: var(--bg-tan);
    padding: 1em .5em;
    border-bottom: var(--border-width) solid var(--border-color);

}

.input-expression {
    font-size: var(--fs-regular);
    font-weight: var(--fw-regular);
    margin-bottom: .75ch;
}


.output {
    font-size: var(--fs-medium);
    font-weight: var(--fw-medium);
}

.button-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: .75em;
}

.button-list> :last-child {
    grid-column: span 2;
}


/* Scroll if input goes overflow and hide default scroll bar*/
.scroll-text {
    white-space: nowrap;
    /* Prevents wrapping to the next line */
    overflow-x: auto;
    scrollbar-width: none;
    /* Hide the scrollbar in Firefox */
    -ms-overflow-style: none;
}

.scroll-text::-webkit-scrollbar {
    display: none;
    /* Hide the scrollbar in Chrome, Safari, and Opera */
}