*{
    margin: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
}

img{
    max-width: 100%;
    display: block;
}



main{
    height: 100%;
    display: grid;
    place-items: center;
}

.container{
    max-width: 600px;
    margin: 0 1em;
}


.google{
    width: 60%;
    margin-inline: auto;
}


.search{
    margin-top: 1rem;
    position: relative;
    display: flex;
    align-items: center;
}

.search-field{
    font-size: 1rem;
    width: 100%;
    border: 1px solid black;
    padding: .75rem .75rem .75rem 2.75rem;
    border-radius: 20px;
    outline: none;
}


.icon{
    position: absolute;
    left: 1rem;
}