/* Global Variables */

:root {
  /* Colors */
  --bg-primary: #F6F4E6;
  --bg-secondary: #FDF0D1;
  --bg-tan: #D1BB9E;


  /* Border and Shadows */
  --border-width: 5px;
  --border-radius: 0.5em;
  --border-color: #000000;
  --shadow-color: #000000;



  /* Buttons */
  --btn-bg: #FFEAA7;
  --btn-bg-dark: #E5C287;
  --btn-hv-bg: #FFAF45;
  --btn-border-width: 4px;

  --btn-border: var(--btn-border-width) solid var(--border-color);
  --btn-shadow: 4px 4px 0px 0px var(--shadow-color);
  --btn-shadow-hv: 2px 2px 0px 0px var(--shadow-color);
  /* Button Fonts */
  /* Size */
  --fs-btn-logo: 1rem;
  --fs-btn: 1.125rem;
  /* Weight */
  --fw-btn: 800;

  /* Font Size */
  --fs-regular: 1.5rem;
  --fs-medium: 1.75rem;

  /* Font Weight */
  --fw-regular: 400;
  --fw-medium: 600;
}




/* Main */

main {
  min-height: 100dvh;
  background-color: var(--bg-primary);
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width:455px){

}